Repository beyond-sw-camp/be04-final-team06-ERPC, pull requests merged in 2024-05, with the labels that each got.

#92 [PR] 로그인, 비밀번호 암호화
  Backend/erpc/build.gradle
  Backend/erpc/src/main/java/com/cineverse/erpc/ErpcApplication.java
  Backend/erpc/src/main/java/com/cineverse/erpc/config/SwaggerConfig.java
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/aggregate/Employee.java
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/aggregate/Team.java
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/controller/EmployeeController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/dto/EmployeeDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/dto/RequestRegistDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/dto/ResponseRegistDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/service/EmployeeService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/service/EmployeeServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/board/aggregate/entity/NoticeBoard.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/board/controller/NoticeBoardController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/board/dto/NoticeBoardDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/board/repository/NoticeBoardRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/board/service/NoticeBoardService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/board/service/NoticeBoardServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/comment/aggregate/entity/NoticeCommentEntity.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/comment/controller/NoticeCommentController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/comment/dto/NoticeCommentDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/comment/repository/NoticeCommentRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/comment/service/NoticeCommentService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/comment/service/NoticeCommentServiceImpl.java
  Frontend/erpc/src/App.vue
  Frontend/erpc/src/assets/css/customer/CustomerContents.css
  Frontend/erpc/src/assets/css/customer/CustomerList.css
  Frontend/erpc/src/assets/css/customer/CustomerRegist.css
  Frontend/erpc/src/assets/css/main/Footer.css
  Frontend/erpc/src/assets/css/main/Header.css
  Frontend/erpc/src/assets/img/pdf.png
  Frontend/erpc/src/components/customer/CustomerContents.vue
  Frontend/erpc/src/components/customer/CustomerList.vue
  Frontend/erpc/src/components/customer/CustomerRegist.vue
  Frontend/erpc/src/components/main/Header.vue
Labels: ✨ Feature(Backend)

#94 [PR] 로그인 기능 수정
  Backend/erpc/build.gradle
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/aggregate/Employee.java
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/dto/EmployeeDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/security/AuthenticationFilter.java
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/service/EmployeeService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/service/EmployeeServiceImpl.java
Labels: ✨ Feature(Backend)

#100 [PR] 견적서
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/aggregate/Quotation.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/aggregate/QuotationProduct.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/controller/QuotationController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/dto/RequestModifyQuotationDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/dto/ResponseFindQuotationDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/dto/ResponseModifyQuotationDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/repo/QuotationProductRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/service/QuotationService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/service/QuotationServiceImpl.java
  Frontend/erpc/src/App.vue
  Frontend/erpc/src/assets/css/bill/CBContents.css
  Frontend/erpc/src/assets/css/bill/CBList.css
  Frontend/erpc/src/assets/css/bill/CBRequest.css
  Frontend/erpc/src/assets/css/bill/Deposit.css
  Frontend/erpc/src/components/bill/CBContents.vue
  Frontend/erpc/src/components/bill/CBList.vue
  Frontend/erpc/src/components/bill/CBRequest.vue
  Frontend/erpc/src/components/bill/Deposit.vue
  Frontend/erpc/src/components/performance/YearPerformance.vue
  Frontend/erpc/src/components/statement/CBList.vue
Labels: ✨ Feature(Backend)

#103 [PR] 수주 수정
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/controller/OrderController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/dto/RequestModifyOrder.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/dto/ResponseModifyOrder.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/repo/OrderProductRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/service/OrderService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/service/OrderServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/target/aggregate/TargetType.java
Labels: ✨ Feature(Backend)

#110 [PR] 수주 참고사항
  Backend/erpc/src/main/java/com/cineverse/erpc/order/note/aggregate/OrderNote.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/note/controller/OrderNoteController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/note/dto/RequestRegistOrderNoteDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/note/dto/ResponseFindOrderNotesDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/note/dto/ResponseRegistOrderNoteDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/note/repo/OrderNoteRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/note/service/OrderNoteService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/note/service/OrderNoteServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/service/OrderServiceImpl.java
Labels: ✨ Feature(Backend)

#113 [PR] 권한부여
  Backend/erpc/src/main/java/com/cineverse/erpc/access/aggregate/AccessRequest.java
  Backend/erpc/src/main/java/com/cineverse/erpc/access/aggregate/AccessRight.java
  Backend/erpc/src/main/java/com/cineverse/erpc/access/aggregate/EmployeeAccess.java
  Backend/erpc/src/main/java/com/cineverse/erpc/access/controller/AccessController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/access/dto/RequestAccessRequestDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/access/dto/RequestAddAccessDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/access/dto/ResponseAccessRequestDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/access/dto/ResponseAddAccessDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/access/dto/ResponseFindAccessRequestDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/access/dto/ResponseFindAllAccessRequestDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/access/dto/ResponseFindEmployeesAccessDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/access/repo/AccessRequestRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/access/repo/EmployeeAccessRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/access/service/AccessService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/access/service/AccessServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/config/TransactionConfig.java
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/security/WebSecurity.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/aggreagte/TaxInvoiceFile.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/aggreagte/TaxInvoiceProcess.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/aggreagte/TaxInvoiceRequest.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/aggreagte/TaxInvoiceRequestStatus.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/controller/TaxInvoiceController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/dto/TaxInvoiceFileDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/dto/TaxInvoiceProcessDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/dto/TaxInvoiceRequestDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/repository/TaxInvoiceProcessRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/repository/TaxInvoiceRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/repository/TaxInvoiceRequestStatusRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/service/TaxInvoiceService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/service/TaxInvoiceServiceImpl.java
  Frontend/erpc/package-lock.json
  Frontend/erpc/package.json
  Frontend/erpc/src/App.vue
  Frontend/erpc/src/assets/img/minus.png
  Frontend/erpc/src/assets/img/plus.png
  Frontend/erpc/src/components/bill/CBList.vue
  Frontend/erpc/src/components/customer/CustomerContents.vue
  Frontend/erpc/src/components/customer/CustomerList.vue
  Frontend/erpc/src/components/customer/CustomerRegist.vue
  Frontend/erpc/src/components/main/Main.vue
  Frontend/erpc/src/components/notice/NoticeContent.vue
  Frontend/erpc/src/components/notice/NoticeList.vue
  Frontend/erpc/src/components/notice/NoticeRegist.vue
  Frontend/erpc/src/components/order/OrderList.vue
  Frontend/erpc/src/components/performance/TeamPerformance.vue
  Frontend/erpc/src/components/performance/YearPerformance.vue
  Frontend/erpc/src/components/salesopp/SalesOppContent.vue
  Frontend/erpc/src/main.js
  Frontend/erpc/src/router/mainRouter.js
  Frontend/erpc/src/vite.config.js
Labels: ✨ Feature(Backend)

#114 [PR] fix: 권한부여
  Backend/erpc/src/main/java/com/cineverse/erpc/access/controller/AccessController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/access/dto/RequestAddAccessDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/access/dto/ResponseAddAccessDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/access/repo/EmployeeAccessRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/access/service/AccessService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/access/service/AccessServiceImpl.java
Labels: ✨ Feature(Backend), 🔨 Refactor

#126 [PR] 결재 요청, 조회
  Backend/erpc/src/main/java/com/cineverse/erpc/access/aggregate/AccessRequest.java
  Backend/erpc/src/main/java/com/cineverse/erpc/admin/delete/aggregate/ContractDelete.java
  Backend/erpc/src/main/java/com/cineverse/erpc/admin/delete/dto/contract/ContractDeleteRequest.java
  Backend/erpc/src/main/java/com/cineverse/erpc/admin/delete/service/DeleteServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/approval/dto/quotation/ResponseFindQuotationApproval.java
  Backend/erpc/src/main/java/com/cineverse/erpc/approval/dto/shipment/ResponseFindShipmentApproval.java
  Backend/erpc/src/main/java/com/cineverse/erpc/approval/service/ApprovalServiceImpl.java
Labels: ✨ Feature(Backend)

#127 [PR] 결재 조회
  Backend/erpc/src/main/java/com/cineverse/erpc/approval/service/ApprovalServiceImpl.java
Labels: ✨ Feature(Backend)

#128 [PR] 결재처리
  Backend/erpc/src/main/java/com/cineverse/erpc/approval/controller/ApprovalController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/approval/dto/contract/RequestContractApprovalProcess.java
  Backend/erpc/src/main/java/com/cineverse/erpc/approval/dto/contract/ResponseContractApprovalProcess.java
  Backend/erpc/src/main/java/com/cineverse/erpc/approval/dto/quotation/RequestQuotationApprovalProcess.java
  Backend/erpc/src/main/java/com/cineverse/erpc/approval/dto/quotation/ResponseQuotationApprovalProcess.java
  Backend/erpc/src/main/java/com/cineverse/erpc/approval/dto/shipment/RequestShipmentApprovalProcess.java
  Backend/erpc/src/main/java/com/cineverse/erpc/approval/dto/shipment/ResponseShipmentApprovalProcess.java
  Backend/erpc/src/main/java/com/cineverse/erpc/approval/service/ApprovalService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/approval/service/ApprovalServiceImpl.java
Labels: ✨ Feature(Backend)

#134 [PR] SMTP
  Backend/erpc/build.gradle
  Backend/erpc/src/main/java/com/cineverse/erpc/approval/dto/contract/RequestContractApprovalProcess.java
  Backend/erpc/src/main/java/com/cineverse/erpc/approval/dto/quotation/RequestQuotationApprovalProcess.java
  Backend/erpc/src/main/java/com/cineverse/erpc/approval/dto/shipment/RequestShipmentApprovalProcess.java
  Backend/erpc/src/main/java/com/cineverse/erpc/approval/service/ApprovalServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/config/MailConfig.java
  Backend/erpc/src/main/java/com/cineverse/smtp/controller/EmailController.java
  Backend/erpc/src/main/java/com/cineverse/smtp/dto/RequestContractApprovalMail.java
  Backend/erpc/src/main/java/com/cineverse/smtp/dto/RequestQuotationApprovalMail.java
  Backend/erpc/src/main/java/com/cineverse/smtp/dto/RequestShipmentApprovalMail.java
  Backend/erpc/src/main/java/com/cineverse/smtp/service/EmailService.java
Labels: ✨ Feature(Backend)

#135 [PR] 비밀번호 재설정
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/controller/EmployeeController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/dto/RequestModifyPassword.java
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/dto/RequestRegistDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/dto/ResponseModifyPassword.java
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/service/EmployeeService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/service/EmployeeServiceImpl.java
Labels: ✨ Feature(Backend)

#136 [PR] 계약서 조회
  Backend/.idea/.gitignore
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/controller/ContractController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/repository/ContractRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/service/ContractService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/service/ContractServiceImpl.java
Labels: ✨ Feature(Backend)

#139 [PR] 거래처 삭제요청
  Backend/erpc/src/main/java/com/cineverse/erpc/account/account/aggregate/AccountDeleteRequest.java
  Backend/erpc/src/main/java/com/cineverse/erpc/account/account/controller/AccountController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/account/account/dto/RequestDeleteAccount.java
  Backend/erpc/src/main/java/com/cineverse/erpc/account/account/dto/ResponseDeleteAccount.java
  Backend/erpc/src/main/java/com/cineverse/erpc/account/account/repository/AccountDeleteRequestRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/account/account/service/AccountService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/account/account/service/AccountServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/admin/delete/controller/DeleteController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/admin/delete/dto/account/RequestAccountDeleteRequestProcess.java
  Backend/erpc/src/main/java/com/cineverse/erpc/admin/delete/dto/account/ResponseAccountDeleteRequestList.java
  Backend/erpc/src/main/java/com/cineverse/erpc/admin/delete/dto/account/ResponseAccountDeleteRequestProcess.java
  Backend/erpc/src/main/java/com/cineverse/erpc/admin/delete/dto/account/ResponseFindAccoundDeleteRequest.java
  Backend/erpc/src/main/java/com/cineverse/erpc/admin/delete/service/DeleteService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/admin/delete/service/DeleteServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/aggregate/QuotationDeleteRequest.java
Labels: ✨ Feature(Backend)

#140 [PR] 거래처
  Backend/erpc/src/main/java/com/cineverse/erpc/account/account/aggregate/Account.java
  Backend/erpc/src/main/java/com/cineverse/erpc/account/account/controller/AccountController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/account/account/dto/AccountDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/account/account/dto/RequestRegistAccountDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/account/account/dto/ResponseFindAccountDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/account/account/dto/ResponseRegistAccountDTO.java
Labels: 🔨 Refactor

#141 [PR] 거래처 삭제일자 수정
  Backend/erpc/src/main/java/com/cineverse/erpc/admin/delete/service/DeleteServiceImpl.java
Labels: 🔨 Refactor

#142 [PR] 영업기회 삭제요청
  Backend/erpc/src/main/java/com/cineverse/erpc/admin/delete/service/DeleteServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/salesopp/opportunity/aggregate/SalesOppDeleteRequest.java
  Backend/erpc/src/main/java/com/cineverse/erpc/salesopp/opportunity/dto/SalesOppDeleteRequestDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/salesopp/opportunity/service/SalesOppServiceImpl.java
Labels: 🔨 Refactor

#144 [PR] 수주 삭제요청
  Backend/erpc/src/main/java/com/cineverse/erpc/admin/delete/controller/DeleteController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/admin/delete/dto/order/RequestOrderDeleteRequestProcess.java
  Backend/erpc/src/main/java/com/cineverse/erpc/admin/delete/dto/order/ResponseFindOrderDeleteRequest.java
  Backend/erpc/src/main/java/com/cineverse/erpc/admin/delete/dto/order/ResponseOrderDeleteRequestList.java
  Backend/erpc/src/main/java/com/cineverse/erpc/admin/delete/dto/order/ResponseOrderDeleteRequestProcess.java
  Backend/erpc/src/main/java/com/cineverse/erpc/admin/delete/service/DeleteService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/admin/delete/service/DeleteServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/aggregate/OrderDeleteRequest.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/controller/OrderController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/dto/RequestDeleteOrder.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/dto/ResponseDeleteOrder.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/repo/OrderDeleteRequestRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/service/OrderService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/service/OrderServiceImpl.java
Labels: ✨ Feature(Backend)

#145 [PR] 출하요청
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/security/WebSecurity.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/repo/OrderRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/service/OrderServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/shipment/aggregate/Shipment.java
  Backend/erpc/src/main/java/com/cineverse/erpc/shipment/controller/ShipmentController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/shipment/dto/RequestModifyShipment.java
  Backend/erpc/src/main/java/com/cineverse/erpc/shipment/dto/ShipmentDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/shipment/repo/ShipmentRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/shipment/service/ShipmentService.java
Labels: ✨ Feature(Backend)

#146 [PR] 파일 업로드
  Backend/erpc/build.gradle
  Backend/erpc/src/main/java/com/cineverse/erpc/config/S3Config.java
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/aggregate/Contract.java
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/aggregate/ContractFile.java
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/controller/ContractController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/dto/ContractDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/dto/ContractFileDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/service/ContractService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/service/ContractServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/aggregate/ContractFile.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/aggregate/NoticeFile.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/aggregate/OrderFile.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/aggregate/QuotationFile.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/aggregate/TaxInvoiceFile.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/repository/ContractFileRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/repository/NoticeFileRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/repository/OrderFileRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/repository/QuotationFileRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/repository/TaxInvoiceFileRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/service/FileUploadService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/board/aggregate/NoticeBoard.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/board/controller/NoticeBoardController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/board/dto/NoticeBoardDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/board/service/NoticeBoardService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/board/service/NoticeBoardServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/aggregate/Order.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/controller/OrderController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/dto/OrderDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/dto/RequestModifyOrder.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/dto/RequestRegistOrderDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/dto/ResponseModifyOrder.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/dto/ResponseOrderLists.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/dto/ResponseRegistOrderDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/service/OrderService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/service/OrderServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/aggregate/Quotation.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/controller/QuotationController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/dto/QuotationDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/dto/RequestModifyQuotationDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/dto/RequestRegistQuotationDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/dto/ResponseFindQuotationDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/dto/ResponseModifyQuotationDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/dto/ResponseRegistQuotationDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/service/QuotationService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/service/QuotationServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/aggreagte/TaxInvoiceFile.java
Labels: ✨ Feature(Backend)

#147 [PR] 로그인 수정
  Backend/erpc/src/main/java/com/cineverse/erpc/config/CorsConfig.java
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/security/AuthenticationFilter.java
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/security/WebSecurity.java
  Frontend/erpc/package-lock.json
  Frontend/erpc/package.json
  Frontend/erpc/src/assets/css/bill/CBList.css
  Frontend/erpc/src/assets/css/bill/CBRequest.css
  Frontend/erpc/src/assets/css/customer/CustomerContents.css
  Frontend/erpc/src/assets/css/customer/CustomerList.css
  Frontend/erpc/src/assets/css/customer/CustomerRegist.css
  Frontend/erpc/src/assets/css/main/Main.css
  Frontend/erpc/src/components/bill/CBRequest.vue
  Frontend/erpc/src/components/customer/CustomerContents.vue
  Frontend/erpc/src/components/customer/CustomerRegist.vue
  Frontend/erpc/src/components/main/Main.vue
Labels: 🐞 BugFix, 🔨 Refactor

#149 [PR] 세금계산서 요청
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/service/ContractServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/aggregate/TaxInvoiceFile.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/service/FileUploadService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/service/QuotationServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/aggreagte/TaxInvoiceRequest.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/controller/TaxInvoiceController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/dto/TaxInvoiceFileDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/dto/TaxInvoiceRequestDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/service/TaxInvoiceService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/service/TaxInvoiceServiceImpl.java
Labels: ✨ Feature(Backend), 🐞 BugFix

#153 Account test
  Backend/erpc/src/main/java/com/cineverse/erpc/account/account/dto/RequestDeleteAccount.java
  Backend/erpc/src/main/java/com/cineverse/erpc/account/account/dto/ResponseDeleteAccount.java
  Backend/erpc/src/main/java/com/cineverse/erpc/account/account/service/AccountService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/account/account/service/AccountServiceImpl.java
  Backend/erpc/src/test/java/com/cineverse/erpc/account/AccountTests.java
Labels: ✅ Test

#155 [PR] 파일 업로드
  Backend/erpc/build.gradle
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/aggregate/Contract.java
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/dto/ContractDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/dto/ContractDeleteRequestDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/dto/ContractProductDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/repository/ContractProductRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/service/ContractService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/service/ContractServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/aggregate/ContractFile.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/aggregate/NoticeFile.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/aggregate/OrderFile.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/aggregate/QuotationFile.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/aggregate/TaxInvoiceFile.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/repository/NoticeFileRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/repository/QuotationFileRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/service/FileUploadService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/board/aggregate/NoticeBoard.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/board/controller/NoticeBoardController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/board/dto/NoticeBoardDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/board/service/NoticeBoardService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/board/service/NoticeBoardServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/comment/aggregate/NoticeComment.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/comment/controller/NoticeCommentController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/comment/dto/NoticeCommentDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/comment/service/NoticeCommentService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/comment/service/NoticeCommentServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/product/service/ProductService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/product/service/ProductServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/controller/QuotationController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/service/QuotationService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/service/QuotationServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/sales/dto/SalesDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/salesopp/note/aggregate/SalesOppNote.java
  Backend/erpc/src/main/java/com/cineverse/erpc/salesopp/note/controller/SaleOppNoteController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/salesopp/note/dto/SalesOppNoteDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/salesopp/note/service/SalesOppNoteService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/salesopp/note/service/SalesOppNoteServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/salesopp/opportunity/controller/SalesOppController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/salesopp/opportunity/service/SalesOppService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/salesopp/opportunity/service/SalesOppServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/controller/TaxInvoiceController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/service/TaxInvoiceService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/service/TaxInvoiceServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/target/controller/TargetController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/target/service/TargetService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/target/service/TargetServiceImpl.java
Labels: ✨ Feature(Backend), 🐞 BugFix, 🔨 Refactor

#157 [PR] 파일 업로드
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/controller/ContractController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/service/ContractService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/service/ContractServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/repository/ContractFileRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/service/FileUploadService.java
Labels: ✨ Feature(Backend)

#158 [PR] 파일 업로드
  Backend/erpc/src/main/java/com/cineverse/erpc/file/repository/OrderFileRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/file/service/FileUploadService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/controller/OrderController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/service/OrderService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/service/OrderServiceImpl.java
Labels: ✨ Feature(Backend)

#168 [PR]Approval test
  Backend/erpc/src/main/java/com/cineverse/erpc/approval/dto/contract/RequestContractApprovalProcess.java
  Backend/erpc/src/main/java/com/cineverse/erpc/approval/dto/contract/RequestRegistContractApproval.java
  Backend/erpc/src/main/java/com/cineverse/erpc/approval/dto/quotation/RequestQuotationApprovalProcess.java
  Backend/erpc/src/main/java/com/cineverse/erpc/approval/dto/quotation/RequestRegistQuotationApproval.java
  Backend/erpc/src/main/java/com/cineverse/erpc/approval/dto/shipment/RequestRegistShipmentApproval.java
  Backend/erpc/src/main/java/com/cineverse/erpc/approval/dto/shipment/RequestShipmentApprovalProcess.java
  Backend/erpc/src/test/java/com/cineverse/erpc/approval/ApprovalTests.java
Labels: ✅ Test

#169 [PR] Encoding Error
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/controller/ContractController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/board/controller/NoticeBoardController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/controller/OrderController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/controller/QuotationController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/controller/TaxInvoiceController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/repository/TaxInvoiceRequestRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/service/TaxInvoiceServiceImpl.java
Labels: 🐞 BugFix

#170 [PR] 수주 테스트
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/dto/RequestDeleteOrder.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/dto/RequestModifyOrder.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/dto/RequestRegistOrderDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/dto/ResponseModifyOrder.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/dto/ResponseRegistOrderDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/service/OrderService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/order/order/service/OrderServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/aggregate/Quotation.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/dto/RequestRegistQuotationDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/service/QuotationService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/quotation/quotation/service/QuotationServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/shipment/repo/ShipmentRepository.java
  Backend/erpc/src/test/java/com/cineverse/erpc/account/order/OrderTests.java
Labels: ✅ Test

#172 공지사항
  Frontend/erpc/src/components/notice/NoticeRegist.vue
Labels: 🎨 Html&css

#174 [PR] 공지사항 테스트
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/board/controller/NoticeBoardController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/notice/board/service/NoticeBoardServiceImpl.java
  Backend/erpc/src/test/java/com/cineverse/erpc/notice/NoticeBoardControllerTests.java
  Backend/erpc/src/test/java/com/cineverse/erpc/notice/NoticeCommentControllerTests.java
  Backend/erpc/src/test/java/com/cineverse/erpc/notice/board/controller/NoticeBoardControllerTests.java
Labels: 🌏 Deploy

#175 [PR] 공지사항 테스트
  Backend/erpc/src/test/java/com/cineverse/erpc/notice/NoticeBoardControllerTests.java
  Backend/erpc/src/test/java/com/cineverse/erpc/notice/NoticeCommentControllerTests.java
Labels: ✅ Test

#177 [PR] 영업기회 테스트
  Backend/erpc/src/main/java/com/cineverse/erpc/salesopp/opportunity/repository/SalesOppStatusRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/salesopp/opportunity/service/SalesOppServiceImpl.java
  Backend/erpc/src/test/java/com/cineverse/erpc/notice/NoticeCommentControllerTests.java
  Backend/erpc/src/test/java/com/cineverse/erpc/notice/board/controller/NoticeBoardControllerTests.java
  Backend/erpc/src/test/java/com/cineverse/erpc/salesopp/SaleOppNoteControllerTests.java
  Backend/erpc/src/test/java/com/cineverse/erpc/salesopp/SalesOppControllerTests.java
Labels: ✅ Test

#179 거래처 등록, 실적, 견적서 등록 페이지 구현 및 기업상태 api 추가
  Frontend/erpc/src/assets/css/customer/CustomerList.css
  Frontend/erpc/src/assets/css/customer/CustomerRegist.css
  Frontend/erpc/src/assets/css/estimate/EstimateRegist.css
  Frontend/erpc/src/components/customer/CustomerRegist.vue
  Frontend/erpc/src/components/estimate/EstimateRegist.vue
  Frontend/erpc/src/components/performance/TeamPerformance.vue
Labels: 🎨 Html&css

#182 [PR] 목표 실적 조회
  Backend/erpc/src/main/java/com/cineverse/erpc/target/service/TargetServiceImpl.java
  Backend/erpc/src/test/java/com/cineverse/erpc/target/controller/TargetControllerTests.java
Labels: ✅ Test

#184 Test: 품목/창고 테스트
  Backend/erpc/src/test/java/com/cineverse/erpc/product/ProductControllerTests.java
  Backend/erpc/src/test/java/com/cineverse/erpc/warehouse/WarehouseControllerTests.java
Labels: ✅ Test

#186 [PR] 엑셀 파일 변환
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/dto/ContractDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/dto/ContractProductDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/repository/ContractRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/service/ContractServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/security/WebSecurity.java
  Backend/erpc/src/main/java/com/cineverse/erpc/excel/controller/ContractExcelController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/excel/controller/ExcelController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/excel/controller/ExcelTest.java
  Backend/erpc/src/main/java/com/cineverse/erpc/excel/controller/OrderExcelController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/excel/controller/QuotationExcelController.java
  Backend/erpc/src/main/resources/excel.html
Labels: ✨ Feature(Backend)

#187 [PR] 엑셀 파일 변환
  Backend/erpc/src/main/java/com/cineverse/erpc/excel/ContractExcelController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/excel/OrderExcelController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/excel/QuotationExcelController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/excel/controller/ExcelController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/excel/controller/ExcelTest.java
  Backend/erpc/src/main/java/com/cineverse/erpc/excel/controller/OrderExcelController.java
Labels: ✨ Feature(Backend), 🔨 Refactor

#190 [PR] 품목/창고 테스트
  Backend/erpc/src/test/java/com/cineverse/erpc/product/ProductControllerTests.java
  Backend/erpc/src/test/java/com/cineverse/erpc/warehouse/WarehouseControllerTests.java
Labels: ✅ Test

#189 [PR] 공지사항 테스트
  Backend/erpc/src/test/java/com/cineverse/erpc/notice/NoticeBoardControllerTests.java
  Backend/erpc/src/test/java/com/cineverse/erpc/notice/NoticeCommentControllerTests.java
Labels: ✅ Test

#188 [PR] 수금 테스트
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/collection/controller/CollectionController.java
  Backend/erpc/src/test/java/com/cineverse/erpc/slip/collection/CollectionControllerTests.java
  Backend/erpc/src/test/java/com/cineverse/erpc/slip/taxinvoice/TaxInvoiceControllerTests.java
Labels: ✅ Test

#191 [PR] 세금계산서
  Backend/erpc/src/main/java/com/cineverse/erpc/employee/security/WebSecurity.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/aggreagte/TaxInvoiceProcess.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/aggreagte/TaxInvoiceRequest.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/controller/TaxInvoiceController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/dto/TaxInvoiceProcessDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/dto/TaxInvoiceRequestDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/repository/TaxInvoiceProcessRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/repository/TaxInvoiceRequestRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/service/TaxInvoiceService.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoice/service/TaxInvoiceServiceImpl.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoiceissue/aggregate/TaxInvoiceIssue.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoiceissue/controller/TaxInvoiceIssueController.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoiceissue/dto/TaxInvoiceIssueDTO.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoiceissue/repository/TaxInvoiceIssueRepository.java
  Backend/erpc/src/main/java/com/cineverse/erpc/slip/taxinvoiceissue/service/TaxInvoiceIssueService.java
Labels: ✨ Feature(Backend), 🔨 Refactor

#192 [PR] 전표 테스트
  Backend/erpc/src/test/java/com/cineverse/erpc/slip/CollectionControllerTests.java
  Backend/erpc/src/test/java/com/cineverse/erpc/slip/TaxInvoiceControllerTests.java
Labels: 🔨 Refactor, ✅ Test

#193 [PR] Contract
  Backend/erpc/src/main/java/com/cineverse/erpc/contract/service/ContractServiceImpl.java
  Backend/erpc/src/test/java/com/cineverse/erpc/access/AccessTests.java
  Backend/erpc/src/test/java/com/cineverse/erpc/contract/ContractControllerTests.java
  Backend/erpc/src/test/java/com/cineverse/erpc/target/TargetControllerTests.java
Labels: ✨ Feature(Backend), ✅ Test

#197 [PR] 삭제요청 처리 테스트
  Backend/erpc/build.gradle
  Backend/erpc/src/main/java/com/cineverse/erpc/admin/delete/dto/account/RequestAccountDeleteRequestProcess.java
  Backend/erpc/src/main/java/com/cineverse/erpc/admin/delete/dto/order/RequestOrderDeleteRequestProcess.java
  Backend/erpc/src/main/java/com/cineverse/erpc/admin/delete/dto/quotation/RequestQuotationDeleteRequestProcess.java
  Backend/erpc/src/main/java/com/cineverse/erpc/admin/delete/service/DeleteServiceImpl.java
  Backend/erpc/src/test/java/com/cineverse/erpc/admin/delete/DeleteTests.java
Labels: ✅ Test

#199 [PR] 삭제처리
  Backend/erpc/src/test/java/com/cineverse/erpc/admin/delete/DeleteTests.java
Labels: ✅ Test
